node_modules/
dist/
bin/
obj/
.venv/
_build/
deps/
.zig-cache/
zig-out/
out/
target/
server
servers/java-httpserver/lib/*.jar
.tmp/
runs/*
!runs/.gitkeep
*.log
!servers/*/benchmark/*.log
.DS_Store
.vercel
